html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 255, 68, 0.534),
      rgba(255, 0, 0, 0.541)
    ),
    url(Media/VideoGame.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div {
  color: greenyellow;
  font-family: inherit;
  height: 100vh;
  font-size: 50px;
}

#uppercase {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

#list {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: blueviolet;
}

img {
  -webkit-filter: saturate(100);
  -webkit-filter: invert(100);
  -webkit-filter: sepia(100);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 25%;
  top: 80px;
}
